In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('diamonds.csv')
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [21]:
dff=df.sample(frac=0.75)
print("The 75% sample of Dataframe's rows:")
dff

The 75% sample of Dataframe's rows:

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
50799,50800,0.71,Premium,E,SI2,61.1,58.0,2306,5.76,5.73,3.51
13291,13292,1.21,Premium,J,VS1,60.0,60.0,5489,6.95,6.88,4.15
20784,20785,1.16,Very Good,G,VVS1,60.7,56.0,9023,6.77,6.83,4.13
52295,52296,0.25,Very Good,F,VVS1,64.2,58.0,548,3.96,4.01,2.56
33190,33191,0.34,Very Good,G,VVS1,60.9,57.0,819,4.53,4.56,2.76
...,...,...,...,...,...,...,...,...,...,...,...
24475,24476,2.05,Ideal,F,SI2,62.2,57.0,12743,8.19,8.12,5.07
6180,6181,0.74,Very Good,E,VVS1,63.5,58.0,3993,5.78,5.72,3.65
42498,42499,0.52,Ideal,D,SI2,60.7,56.0,1320,5.22,5.25,3.18
3230,3231,1.05,Premium,H,SI2,62.8,56.0,3352,6.54,6.47,4.08
12005,12006,1.01,Fair,D,SI1,64.4,61.0,5147,6.17,6.13,3.96

In [20]:
sp=df.loc[~df.index.isin(dff.index),:]
print("The remaining 25% of rows:")
sp

The remaining 25% of rows:

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
...,...,...,...,...,...,...,...,...,...,...,...
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [22]:
sp.to_csv('task1.12.csv')