In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('diamonds.csv')
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
df.count()

Unnamed: 0    53940
carat         53940
cut           53940
color         53940
clarity       53940
depth         53940
table         53940
price         53940
x             53940
y             53940
z             53940
dtype: int64

In [10]:
dff=df.sort_values(by='cut')
dff

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3850,3851,1.01,Fair,F,SI2,64.8,55.0,3477,6.37,6.26,4.10
51464,51465,1.20,Fair,G,I1,66.6,57.0,2376,6.57,6.50,4.34
51466,51467,0.90,Fair,G,SI2,65.4,57.0,2376,6.01,5.97,3.98
10237,10238,1.26,Fair,D,SI2,64.5,59.0,4746,6.75,6.71,4.34
10760,10761,1.01,Fair,E,SI1,69.5,55.0,4853,6.00,5.94,4.15
...,...,...,...,...,...,...,...,...,...,...,...
7402,7403,0.33,Very Good,G,VS2,62.8,54.0,579,4.40,4.42,2.77
43101,43102,0.57,Very Good,E,SI2,58.8,57.3,1384,5.42,5.46,3.21
16893,16894,1.00,Very Good,G,VS2,62.2,58.0,6743,6.35,6.39,3.96
16898,16899,1.00,Very Good,D,VS2,59.6,60.0,6745,6.52,6.57,3.90
21164,21165,1.00,Very Good,E,VVS2,61.7,55.0,9324,6.38,6.42,3.95

In [19]:
gdm=df[df['cut']=='Good'].price.max()
gdn=df[df['cut']=='Good'].price.min()
print("Maximum Price of Gold Cut:",gdm)
print("Minimum Price of Gold Cut:",gdn)

Maximum Price of Gold Cut: 18788
Minimum Price of Gold Cut: 327

In [20]:
vgdm=df[df['cut']=='Very Good'].price.max()
vgdn=df[df['cut']=='Very Good'].price.min()
print("Maximum Price of Very Gold Cut:",vgdm)
print("Minimum Price of Very Gold Cut:",vgdn)

Maximum Price of Very Gold Cut: 18818
Minimum Price of Very Gold Cut: 336

In [23]:
prm=df[df['cut']=='Premium'].price.max()
prn=df[df['cut']=='Premium'].price.min()
print("Maximum Price of Premium Cut:",prm)
print("Minimum Price of Premium Cut:",prn)

Maximum Price of Premium Cut: 18823
Minimum Price of Premium Cut: 326

In [26]:
idm=df[df['cut']=='Ideal'].price.max()
idn=df[df['cut']=='Ideal'].price.min()
print("Maximum Price of Ideal Cut:",idm)
print("Minimum Price of Ideal Cut:",idn)

Maximum Price of Ideal Cut: 18806
Minimum Price of Ideal Cut: 326

In [27]:
fm=df[df['cut']=='Fair'].price.max()
fn=df[df['cut']=='Fair'].price.min()
print("Maximum Price of Fair Cut:",fm)
print("Minimum Price of Fair Cut:",fn)

Maximum Price of Fair Cut: 18574
Minimum Price of Fair Cut: 337